{% extends 'base.html' %}
{% load static %}


{% block title %}
About Us
{% endblock title %}



{% block css %}

{% endblock css %}

{% block content %}
<div class="sm:flex items-center max-w-screen-xl">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img src="https://i.imgur.com/WbQnbas.png">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="text">
            <span class="text-gray-500 border-b-2 border-indigo-600 uppercase">About us</span>
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">About <span class="text-indigo-600">Our Company</span>
            </h2>
            <p class="text-gray-700">
                Welcome to Faustine's Emporium! Founded with a passion for quality and style, we aim to bring you an
                exceptional
                shopping experience like no other. Our journey began with a simple idea: to curate a collection of
                handpicked products
                that reflect elegance, innovation, and craftsmanship.

                At Faustine's Emporium, we believe that every item tells a story. From timeless classics to modern
                marvels, our
                carefully curated selection encompasses a wide range of products to cater to your unique tastes and
                preferences. Whether
                you're searching for the perfect gift or treating yourself to something special, we're here to help you
                find exactly
                what you're looking for.

                We pride ourselves on providing unparalleled customer service and strive to exceed your expectations at
                every turn. With
                a dedication to excellence and a commitment to authenticity, we aim to build lasting relationships with
                our valued
                customers.

                Thank you for choosing Faustine's Emporium for your shopping needs. We look forward to serving you and
                becoming a part
                of your journey.

                Discover elegance. Explore innovation. Experience Faustine's Emporium
            </p>
        </div>
    </div>
</div>

{% endblock content %}




{% block js %}

{% endblock js %}